<% provide(:title, "About") %>
<main>
<h1>About Me</h1>
<p>
  Go <a href="https://www.espo.codes/repo">here</a> to look at my projects.
</p>
<a href="/static_pages/home">Home</a>
<a href="/static_pages/help">Help</a>
</main>