<% provide(:title, "Help") %>
<main>
<h1>Help</h1>
<p>
  If you really need help with this, I don't know what to tell you. Go <a href="https://www.espo.codes">here</a>.
</p>
<a href="/static_pages/home">Home</a>
<a href="/static_pages/about">About</a>
</main>
